/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Gramatika-Bold;
  src: url(assets/fonts/Gramatika-Bold.ttf);
}

@font-face {
  font-family: Gramatika-Regular;
  src: url(assets/fonts/Gramatika-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
  /* font-family: Gramatika-Regular, "Segoe UI", "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans"; */
}

.bg-transparent {
  color: transparent;
  background-color: transparent;
}

.text-white {
  color: white;
}

.text-gold {
  color: #b68c13;
}

.text-gray {
  color: #5c5c5c;
}

.text-gray2 {
  color: #b1b1b1;
}

.logo {
  background: url("assets/images/AKNY-LOGO_complete.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.home-title {
  font-size: 2rem;
  line-height: 3.5rem;
}

.home-text {
  font-size: 1rem;
  line-height: 1.75rem;
}

.home-box-link-light {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  width: 50%;
}

.home-box-link-dark {
  border: 1px solid #000000;
  box-sizing: border-box;
  width: 40%;
}

.f-14 {
  font-size: 14px;
}

.f-18 {
  font-size: 18px;
}

.f-24 {
  font-size: 24px;
}

.f-30 {
  font-size: 30px;
}

.f-36 {
  font-size: 36px;
}

.background-gold {
  background-color: #b68c13;
}
/* remove stying of anchor tag */
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 36px;
  line-height: 42px;
  font-family: Gramatika-Bold;
}

.header {
  height: 165px;
  background-color: #b68c13;
}

/* stepper styles */
.inactive-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #c4c4c4;
  color: white;
  text-align: center;
}

.active-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #b68c13;
  color: white;
  text-align: center;
}

.stepper {
  width: 70%;
}
