/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: Gramatika-Bold;
  src: url(assets/fonts/Gramatika-Bold.ttf);
}

@font-face {
  font-family: Gramatika-Regular;
  src: url(assets/fonts/Gramatika-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-size: 18px;
  margin: 0;
  padding: 0;
  font-family: Gramatika-Regular, "Segoe UI", "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans";
}

.bg-transparent {
  color: transparent;
  background-color: transparent;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}

.text-gold {
  color: #b68c13 !important;
}

.text-gray {
  color: #5c5c5c !important;
}

.text-gray2 {
  color: #b1b1b1 !important;
}

.logo {
  background: url("assets/images/AKNY-LOGO_complete.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}
.logo-black {
  background: url("assets/images/AKNY-LOGO_complete_black.svg");
  background-repeat: no-repeat;
  width: 48px;
  height: 48px;
}

.logo-gold {
  background: url("assets/images/AKNY-LOGO_complete_gold.svg");
  background-repeat: no-repeat;
  width: 49px;
  height: 49px;
}

.home-title {
  font-size: 36px;
  line-height: 3.5rem;
}

.home-text {
  font-size: 18px;
  line-height: 1.75rem;
}

.home-box-link-light {
  border: 1px solid #ffffff;
  box-sizing: border-box;
  flex-basis: auto;
}

.home-box-link-dark {
  border: 1px solid #000000;
  box-sizing: border-box;
  /* width: 40%; */
}

.f-12 {
  font-size: 12px;
}

.f-14 {
  font-size: 14px;
}

.f-18 {
  font-size: 18px;
}

.f-24 {
  font-size: 24px;
}

.f-30 {
  font-size: 30px;
}

.f-36 {
  font-size: 36px;
}

.background-gold {
  background-color: #b68c13;
}

.background-gray {
  background-color: #656565;
}

.background-gray2 {
  background: rgba(196, 196, 196, 0.2);
}

/* remove stying of anchor tag */
a:link {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
  color: inherit;
}

a:active {
  text-decoration: none;
  color: inherit;
}

.navbar-brand {
  font-size: 36px;
  line-height: 42px;
  font-family: Gramatika-Bold;
}

.header {
  min-height: 165px;
  background-color: #b68c13;
}

.header-white {
  min-height: 165px;
  background-color: white;
}

/* stepper styles */
.inactive-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #c4c4c4;
  color: white;
  text-align: center;
  line-height: 32px;
}

.active-circle {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #b68c13;
  color: white;
  text-align: center;
  line-height: 32px;
}

.stepper {
  width: 70%;
}

button {
  border-radius: 0px !important;
}

.text-bold {
  font-family: Gramatika-Bold;
}

.text-regular {
  font-family: Gramatika-Regular;
}

.cursor-pointer {
  cursor: pointer;
}

.btn:focus,
.btn:active,
a:focus {
  outline: none !important;
  box-shadow: none;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  -webkit-appearance: none;
  /* Remove most all native input styles */
  appearance: none;
  /* For iOS < 15 */
  background-color: var(--form-background);
  /* Not removed via appearance */
  margin: 0;

  font: inherit;
  width: 1.15em !important;
  height: 1.15em !important;
  border: 0.15em solid #000000;
  border-radius: 0.15em !important;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
  padding-left: 0 !important;
}

input[type="checkbox"]::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transform-origin: bottom left;
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);
  /* Windows High Contrast Mode */
  background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:focus {
  outline: none;
  outline-offset: none;
}

input[type="checkbox"]:disabled {
  --form-control-color: var(--form-control-disabled);

  color: var(--form-control-disabled);
  cursor: not-allowed;
}