<div class="row no-gutters">
  <div class="col-12 overflow-hidden">
    <section class="section-bg">
      <app-header [theme]="headerThemes.BLACK"></app-header>
      <div class="row no-gutters p-md-5 p-3">
        <div class="col-md-5 col-12">
          <p class="f-48 text-gray text-bold text-md-left text-center">Garment Tips</p>
        </div>
        <!-- <div class="col-md-7 col-12 mt-md-0 mt-4">
          <p class="text-gray font-weight-light f-24 pb-md-5 pb-3">
            We love sweaters. We have plenty of advice to give people to make your clothes last longer so you can spend
            your hard earned money on something else you need.
          </p>
        </div> -->
      </div>
    </section>
    <section class="mt-xl-5 ml-xl-5 mb-xl-5 mx-0 my-4">
      <div class="row no-gutters">
        <div class="col-md-5 col-12 d-flex flex-column align-items-center justify-content-center">
          <div class="text-xl-left p-md-5 p-3">
            <p class="f-36 text-gray text-bold">1. Save those packets please!</p>
            <p class="font-weight-light text-gray f-18">
              You know those little packets of yarn that come with your new sweater? Don't just yank it off with
              your price tag and throw it away. Keep it – because when you get a hole you will be glad you did.
            </p>
          </div>
        </div>
        <div class="col-md-1"></div>
        <div
          class="col-md-6 col-12 p-md-2 p-3 pr-md-5 pr-0 d-flex flex-column align-items-center justify-content-center">
          <img class="img-fluid" src="../../../assets/images/save-pockets.png">
        </div>
      </div>
    </section>
    <section class="text-gray p-md-0 p-3">
      <div class="row no-gutters">
        <div class="col-md-7 col-12 p-md-2 p-3 pl-md-5 d-flex flex-column align-items-center justify-content-center">
          <img class="img-fluid d-md-block d-none" src="../../../assets/images/sewing-machine-2.jpg">
        </div>
        <div class="col-md-5 col-12 d-flex flex-column align-items-center justify-content-center p-md-5 p-0">
          <p class="text-bold f-36">
            2. The most common cause of mothholes? Dirt.
          </p>
          <p class="f-18">
            Don't be afraid to dryclean or wash your sweaters by hand or on gentle delicate in your machine (now is the
            time
            to break out that mesh bag). Neither will harm your garment – in fact your cashmere and wool will feel even
            softer. Plus, washing away food and dirt will leave less behind for moths and other critters to munch on.
          </p>
        </div>
        <div class="d-md-none d-block">
          <img class="img-fluid" src="../../../assets/images/sewing-machine-2.jpg">
        </div>
      </div>
    </section>
    <section>
      <div class="row no-gutters">
        <div class="col-md-7 col-12 d-flex flex-column align-items-center justify-content-center p-md-5 p-3 pr-md-5">
          <div class="text-gray">
            <p class="text-bold f-36">
              3. How did that hole get there?
            </p>
            <p class="f-18">
              You can blame inanimate objects like your belt buckle, your watch, your jewelry, your handbag, or if you
              live in NYC like we do, getting in and out of those cabs in a hurry.
            </p>
          </div>
          <div class="d-md-none d-block">
            <img class="img-fluid" src="../../../assets/images/pills-and-holes.png">
          </div>
        </div>
        <div class="col-md-5 col-12 p-md-5 p-0 d-flex flex-column align-items-center justify-content-center">
          <img class="img-fluid d-md-block d-none" src="../../../assets/images/pills-and-holes.png">
        </div>
      </div>
    </section>
    <section>
      <div class="row no-gutters">
        <div class="col-md-5 col-12 p-md-5 p-0 d-flex flex-column align-items-center justify-content-center">
          <img class="img-fluid d-md-block d-none" src="../../../assets/images/yarn.jpeg">
        </div>
        <div class="col-md-7 col-12 d-flex flex-column align-items-center justify-content-center p-md-5 p-3 pr-md-5">
          <div class="text-gray mt-4">
            <p class="text-bold f-36">
              4. What's up with all these pills and fuzzies on my cashmere?
            </p>
            <p class="f-18">
              We've got good news and bad news on this one. The bad news is that cashmere will always pill. The good
              news is what you love about cashmere – its softness – is what makes it pill. Cashmere is a short hair
              fiber (we know you weren't planning on a science lesson) which is why it's so soft and comfy. Short haired
              fiber strands, when they come in contact with friction, toward fuzzing and then pilling. Antidote: Get
              yourself a sweater comb or shaver and maintain your sweater regularly, especially the hip areas and the
              underarm seams. (You know what we're talking about!)
            </p>
            <div class="d-md-none d-block">
              <img class="img-fluid" src="../../../assets/images/yarn.jpeg">
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="text-gray p-md-0 p-3">
      <div class="row no-gutters">
        <div class="col-md-5 col-12 d-flex flex-column align-items-center justify-content-center p-md-5 p-3">
          <p class="text-bold f-36">
            5. Snag – you're it!
          </p>
          <p class="f-18">
            Get your snag to us before it gets worse. A snag is so much easier to fix when the yarn has not been broken.
            Most snags start as a pull and then end up as a tear because most of us keep wearing it without treating the
            snag. Next thing you know the snag rips and then usually runs! So catch your snag before it tears!
          </p>
        </div>
        <div class="col-md-7 col-12 p-md-2 p-3 pr-md-5 d-flex flex-column align-items-center justify-content-center">
          <img class="img-fluid d-md-block d-none" src="../../../assets/images/sewing-machine.jpg">
        </div>
        <div class="d-md-none d-block mb-5">
          <img class="img-fluid" src="../../../assets/images/sewing-machine.jpg">
        </div>
      </div>
    </section>
    <div class="m-xl-5 m-0">
      <img class="img-fluid" style="width: 100%;height: 100%;object-fit: contain;"
        src="../../../assets/images/Group_29.jpg" alt="garment-tips-image">
    </div>
    <app-footer></app-footer>
  </div>
</div>
