<section>
    <!-- steps -->
    <app-stepper class="d-none d-lg-block" [activeStep]="step"></app-stepper>
    <div class="row no-gutters mt-lg-5 mt-3 w-75 mx-auto">
        <!-- shipping address form -->
        <div class="col-lg-8 col-12 px-lg-4 px-0">
            <form [formGroup]="addressForm">
                <div class="f-24 font-weight-bold text-gray">Shipping Information</div>
                <div class="mt-4">
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-12">
                            <input class="mb-2 w-100 form-control" placeholder="First Name" type="text" name="firstName"
                                formControlName="firstName"
                                [ngClass]="{ 'is-invalid': submitted && form.firstName.errors }" id="firstName">
                            <div *ngIf="submitted && form.firstName.errors" class="invalid-feedback">
                                <div class="f-14 p-0 m-0" *ngIf="form.firstName.errors.required">
                                    Please enter first name
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <input class="mb-2 w-100 form-control" placeholder="Last Name" type="text" name="lastName"
                                formControlName="lastName"
                                [ngClass]="{ 'is-invalid': submitted && form.lastName.errors }" id="lastName">
                            <div *ngIf="submitted && form.lastName.errors" class="invalid-feedback">
                                <div class="f-14 p-0 m-0" *ngIf="form.lastName.errors.required">
                                    Please enter last name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="f-18 font-weight-bold text-gray">Address</label>
                    <input class="mb-2 w-100 form-control" placeholder="Address" type="text" name="address"
                        formControlName="address" [ngClass]="{ 'is-invalid': submitted && form.address.errors }"
                        id="address">
                    <div *ngIf="submitted && form.address.errors" class="invalid-feedback">
                        <div class="f-14 p-0 m-0" *ngIf="form.address.errors.required">
                            Please enter address
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="f-18 text-gray cursor-pointer" *ngIf="!showCompanyField"
                        (click)="showCompanyField=true; updateValidatorsAndReset()">+ Add Company
                    </div>
                    <div class="f-18 text-gray cursor-pointer" *ngIf="showCompanyField"
                        (click)="showCompanyField=false; updateValidatorsAndReset()">- Remove Company
                    </div>
                </div>
                <div class="form-group" *ngIf="showCompanyField">
                    <input class="mb-2 w-100 form-control" placeholder="Company Name" type="text" name="companyName"
                        formControlName="companyName" [ngClass]="{ 'is-invalid': submitted && form.companyName.errors }"
                        id="companyName">
                    <div *ngIf="submitted && form.companyName.errors" class="invalid-feedback">
                        <div class="f-14 p-0 m-0" *ngIf="form.companyName.errors.required">
                            Please enter company name
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4 col-12">
                        <input class="mb-2 w-100 form-control" placeholder="City" type="text" name="city" id="city"
                            formControlName="city" [ngClass]="{ 'is-invalid': submitted && form.city.errors }">
                        <div *ngIf="submitted && form.city.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="form.city.errors.required">
                                Please enter city
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-12">
                        <select class="mb-2 w-100 form-select" title="State" aria-label="State" name="state" id="state"
                            formControlName="state" [ngClass]="{ 'is-invalid': submitted && form.state.errors }"
                            placeholder="State">
                            <option value="" selected disabled>State</option>
                            <option *ngFor="let state of stateCodes | keyvalue" [value]="state.value"> {{
                                state.key.split('_').join(" ") }}</option>
                        </select>
                        <div *ngIf="submitted && form.state.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="form.state.errors.required">
                                Please enter state
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-12">
                        <input class="mb-2 w-100 form-control" placeholder="Zip" type="text" name="zipcode" id="zipcode"
                            formControlName="zipcode" [ngClass]="{ 'is-invalid': submitted && form.zipcode.errors }">
                        <div *ngIf="submitted && form.zipcode.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="form.zipcode.errors.required">
                                Please enter zip code
                            </div>
                            <div class="f-14 p-0 m-0" *ngIf="form.zipcode.errors.incorrect">
                                Incorrect zip code
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-12">
                        <input class="mb-2 w-100 form-control" placeholder="Phone" type="text" name="phone" id="phone"
                            formControlName="phone" [ngClass]="{ 'is-invalid': submitted && form.phone.errors }">
                        <div *ngIf="submitted && form.phone.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="form.phone.errors.required">
                                Please enter phone number
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-12">
                        <input class="mb-2 w-100 form-control" placeholder="Email" type="text" name="email" id="email"
                            formControlName="email" [ngClass]="{ 'is-invalid': submitted && form.email.errors }">
                        <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="form.email.errors.required">
                                Please enter email
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="d-inline-flex align-items-center">
                        <div><input class="cursor-pointer mr-2" type="checkbox" id="sameAddress"
                                formControlName="isBillingAddressSame" (click)="resetBillingForm()"></div>
                        <span class="text-gray f-18 font-weight-light cursor-pointer" for="sameAddress">
                            Will your billing address be the same as your shipping address?
                        </span>
                    </div>
                </div>
            </form>
            <form [formGroup]="billingAddressForm" *ngIf="showBillingAddressControl()">
                <div class="f-24 font-weight-bold text-gray">Billing Information</div>
                <div class="mt-4">
                    <div class="form-row">
                        <div class="form-group col-lg-6 col-12">
                            <input class="mb-2 w-100 form-control" placeholder="First Name" type="text" name="firstName"
                                formControlName="firstName"
                                [ngClass]="{ 'is-invalid': submitted && billingForm.firstName.errors }" id="firstName">
                            <div *ngIf="submitted && billingForm.firstName.errors" class="invalid-feedback">
                                <div class="f-14 p-0 m-0" *ngIf="billingForm.firstName.errors.required">
                                    Please enter first name
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-lg-6 col-12">
                            <input class="mb-2 w-100 form-control" placeholder="Last Name" type="text" name="lastName"
                                formControlName="lastName"
                                [ngClass]="{ 'is-invalid': submitted && billingForm.lastName.errors }" id="lastName">
                            <div *ngIf="submitted && billingForm.lastName.errors" class="invalid-feedback">
                                <div class="f-14 p-0 m-0" *ngIf="billingForm.lastName.errors.required">
                                    Please enter last name
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="f-18 font-weight-bold text-gray">Address</label>
                    <input class="mb-2 w-100 form-control" placeholder="Address" type="text" name="address"
                        formControlName="address" [ngClass]="{ 'is-invalid': submitted && billingForm.address.errors }"
                        id="address">
                    <div *ngIf="submitted && billingForm.address.errors" class="invalid-feedback">
                        <div class="f-14 p-0 m-0" *ngIf="billingForm.address.errors.required">
                            Please enter address
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-4 col-12">
                        <input class="mb-2 w-100 form-control" placeholder="City" type="text" name="city" id="city"
                            formControlName="city" [ngClass]="{ 'is-invalid': submitted && billingForm.city.errors }">
                        <div *ngIf="submitted && billingForm.city.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="billingForm.city.errors.required">
                                Please enter city
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-12">
                        <select class="mb-2 w-100 form-select" title="State" aria-label="State" name="state" id="state"
                            formControlName="state" [ngClass]="{ 'is-invalid': submitted && billingForm.state.errors }">
                            <option value="" selected disabled>State</option>
                            <option *ngFor="let state of stateCodes | keyvalue" [value]="state.value"> {{
                                state.key.split('_').join(" ") }}</option>
                        </select>
                        <div *ngIf="submitted && billingForm.state.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="billingForm.state.errors.required">
                                Please enter state
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-4 col-12">
                        <input class="mb-2 w-100 form-control" placeholder="Zip" type="text" name="zipcode" id="zipcode"
                            formControlName="zipcode"
                            [ngClass]="{ 'is-invalid': submitted && billingForm.zipcode.errors }">
                        <div *ngIf="submitted && billingForm.zipcode.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="billingForm.zipcode.errors.required">
                                Please enter zip code
                            </div>
                            <div class="f-14 p-0 m-0" *ngIf="billingForm.zipcode.errors.incorrect">
                                Incorrect zip code
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-lg-6 col-12">
                        <input class="mb-2 w-100 form-control" placeholder="Phone" type="text" name="phone" id="phone"
                            formControlName="phone" [ngClass]="{ 'is-invalid': submitted && billingForm.phone.errors }">
                        <div *ngIf="submitted && billingForm.phone.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="billingForm.phone.errors.required">
                                Please enter phone number
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-lg-6 col-12">
                        <input class="mb-2 w-100 form-control" placeholder="Email" type="text" name="email" id="email"
                            formControlName="email" [ngClass]="{ 'is-invalid': submitted && billingForm.email.errors }">
                        <div *ngIf="submitted && billingForm.email.errors" class="invalid-feedback">
                            <div class="f-14 p-0 m-0" *ngIf="billingForm.email.errors.required">
                                Please enter email
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="w-100 text-lg-left text-center">
                <button type="button" (click)="submit()"
                    class="btn f-18 font-weight-light background-gold btn-sm text-white my-lg-5 my-3 w-50">
                    Continue to Order Review
                </button>
            </div>

        </div>
        <!-- order summary -->
        <div class="col-lg-4 col-12 mt-lg-0 mt-2">
            <app-order-review [garments]="garments"></app-order-review>
        </div>
    </div>
</section>