<div class="order-summary background-gray2 mx-auto p-3">
  <div class="font-weight-bold f-24 text-gray d-flex justify-content-between align-items-center">
    Order Summary
    <span class="f-14 font-weight-light ml-auto"><u><a routerLink="/orders">Edit</a></u></span>
  </div>
  <div *ngFor="let garment of garments; let idx = index">
    <div class="row no-gutters mt-3">
      <div class="col-4">
        <p class="f-24">Garment {{idx+1}}</p>
      </div>
      <div class="col-8 text-gray pl-3">
        <div>
          <p class="text-bold m-0">Service Needed</p>
          <ul>
            <li *ngFor="let service of getServiceList(garment.serviceNeeded)">
              {{service}}
            </li>
          </ul>
        </div>
        <div class="mt-2">
          <p class="text-bold m-0">Brand</p>
          <ul class="m-0">
            <li>{{garment.brand}}</li>
          </ul>
        </div>
        <div class="mt-2">
          <p class="text-bold m-0">Color</p>
          <ul class="m-0">
            <li>{{garment.color}}</li>
          </ul>
        </div>
        <div class="mt-2">
          <p class="text-bold m-0">Age of Garment</p>
          <ul class="m-0">
            <li>{{garment.ageOfGarment}} years old</li>
          </ul>
        </div>
        <div class="mt-2">
          <p class="text-bold m-0"># of Holes</p>
          <ul class="m-0">
            <li>{{garment.noOfHoles}}</li>
          </ul>
        </div>
        <div class="mt-2">
          <p class="text-bold m-0">Brief Description</p>
          <ul class="m-0">
            <li>{{garment.briefDescription}}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
