/* Image Viewer styles */
.viewer-container {
  /* Container must be fixed and occupy full screen */
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  /* High z-index value makes sure viewer is on top */
  z-index: 999999;
  /* -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-animation: ngdialog-fadein 0.5s;
    animation: ngdialog-fadein 0.5s; */
  overflow: auto;
  background: rgba(0, 0, 0, 0.85);
}

.close-button {
  /* Set close button to always be top right */
  position: absolute;
  left: 10px;
  top: 10px;
  /* Apply some light styles to button */
  font-size: 18px;
  font-family: "Arial", sans-serif;
  color: white;
  cursor: pointer;
  /* Give some padding and background colour so text is always legible */
  background-color: black;
  padding: 7px;
  /* z-index must be higher than container's so it's always on top */
  z-index: 9999999;
}

.terms-container {
  width: 70%;
  position: relative;
  color: white;
  background-color: #5E466E;
  padding: 24px;
  line-height: 24.2px;
}
