<div *ngIf="open" class="viewer-container pb-5 pt-5">
    <!-- terms and conditions -->
    <section class="terms-container mx-auto">
        <div class="f-14 text-bold">TERMS AND CONDITIONS</div>
        <div class="f-14">
            I accept the terms and conditions associated with AlterKnit New York's Repair Service. AlterKnit New York
            will always use its best judgement and craftmanship when repairing items. While we take extreme care and
            attention, we cannot guarantee that all repairs will meet products original condition. We cannot assume any
            responsibility for inherent damages, weaknesses, and defects in fabrics and their fibers that are not
            apparent prior to being repaired or cleaned. During the repair process members of our repair team work with
            their faces very close to the garment. Because of this WE RESERVE THE RIGHT TO CLEAN YOUR GARMENT WHERE
            THERE IS VISIBLE PET OR HUMAN HAIR OR AN EXCESSIVE SMELL. Additional fees may be if laundering services are
            required and for additional holes. Any additional holes found will be fixed. There are NO REFUNDS on ANY
            SERVICES. Surcharge for delivery in Manhattan non-residential buildings apply. ALL SERVICES ARE FINAL SALE.
        </div>
        <br>
        <div class="f-14 text-bold mt-2">TERMS OF SERVICE</div>
        <div class="f-14">
            AlterKnit New York reserves the right to terminate any service request at any time for any reason or change
            the terms of this contract. Customer submitting garments for reknitting or reweaving acknowledges that
            he/she is requesting repair off a item that has been damaged prior to receipt by AlterKnit New York
        </div>
        <br>
        <div class="f-14 text-bold mt-2">PAYMENT</div>
        <div class="f-14">
            Payment is required upfront to join our repair line and secure your place in it. You may choose one of the
            payment methods indicated on the order form.
        </div>
        <br>
        <div class="f-14">
            All prices are exclusive of any shipping and delivery fees. Customer is responsible for all applicable
            shipping and delivery fees.
        </div>
        <br>
        <div class="f-14">
            Customer agrees that he/she is fully responsible for all labor charges, material costs, accessories and any
            other charges incurred under these terms and conditions, and payment in full shall be made prior to the
            release of the order. If goods are not claimed whether repaired or unrepaired or all charges are not paid in
            full within 90 days of order completion, we shall have the right to sell or dispose of such items.
        </div>
        <br>
        <div class="f-14 text-bold mt-2">DELIVERY TIME</div>
        <div class="f-14">
            Customer acknowledges that AlterKnit New York does not guarantee exact completion dates. ALL COMPLETION
            DATES ARE ESTIMATED ONLY. We will inform you via phone and/or email when your order is ready. If there are
            any discrepancies with your order we must be notified within 3 business days upon customer receipt. Customer
            acknowledges that they may be subject to additional labor costs and associated fees.
        </div>
        <br>
        <div class="f-14 text-bold mt-2">REPAIR SERVICES</div>
        <div class="f-14">
            Customer hereby authorizes AlterKnit New York to perform all services (including repair, replacement and/or
            addition of all necessary or requested materials and components) necessary or desirable to repair the items.
            AlterKnit New York shall use reasonable efforts to repair all items per the terms. WE CANNOT GUARANTEE
            REPAIR AND ALTERATIONS REQUEST WILL MEET PRODUCTS ORIGINAL CONDITION/AESTHETIC.
        </div>
    </section>
    <div class="row no-gutters w-100 fixed-top">
        <div class="col-12 text-right pr-3">
            <a class="close-viewer text-white text-bold f-36" (click)="close.emit()">x</a>
        </div>
    </div>
</div>
