/* Image Viewer styles */
.viewer-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  z-index: 999999;
}

.viewer-content {
  background: rgba(0, 0, 0, 0.85);
  width: 100%;
  height: 100%;
}

.close-button {
  position: absolute;
  font-size: 32px;
  color: white;
  cursor: pointer;
  background-color: black;
  padding: 7px;
  z-index: 9999999;
}

.image-viewer {
  display: block;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-60%);
}

.arrow {
  cursor: pointer;
  background-color: black;
  width: 47px;
  height: 47px;
}

.brand-details {
  background-color: black;
  height: 100vh;
}

@media only screen and (max-width: 768px) {
  .brand-details {
    text-align: center;
    padding: 2em;
    background-color: black;
    margin: 3em auto;
    height: unset;
  }
}

.hide {
  visibility: hidden;
}
