<section>
    <!-- steps -->
    <div class="row no-gutters">
        <div class="col-12">
            <ul class="nav d-flex justify-content-between align-items-center stepper mx-auto">
                <li class="nav-item">
                    <div class="inactive-circle m-auto">1</div>
                    <p class="home-text font-weight-light f-18 pt-2">Account</p>
                </li>
                <li class="nav-item">
                    <div class="inactive-circle m-auto">2</div>
                    <p class="home-text font-weight-light f-18 pt-2">Shipment method</p>
                </li>
                <li class="nav-item active">
                    <div class="inactive-circle m-auto">3</div>
                    <p class="home-text font-weight-light f-18 pt-2">Select Service</p>
                </li>
                <li class="nav-item">
                    <div class="inactive-circle m-auto">4</div>
                    <p class="home-text font-weight-light f-18 pt-2">Billing/Shipping</p>
                </li>
                <li class="nav-item">
                    <div class="active-circle m-auto">5</div>
                    <p class="home-text font-weight-light f-18 pt-2">Review</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="row no-gutters mt-5 w-75 mx-auto">
        <!-- shipping address form -->
        <div class="col-8 px-4">
            <div class="f-24 font-weight-bold text-gray">Shipping Information</div>
            <div class="f-18 font-weight-light home-text mt-4">
                <p class="m-0">Jane Doe</p>
                <p class="m-0">101 32 st.</p>
                <p class="m-0">Apt 560</p>
                <p class="m-0">New York, NY 10001</p>
                <a class="f-14 text-decoration-underline" style="color: #C4C4C4;" routerLink="/orders/shipping">Change
                    Shipping Address</a>
            </div>
            <div class="order-speed text-gray mt-4">
                <div class="f-24 font-weight-bold">Choose your Speed</div>
                <div class="form-check mt-4">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1"
                        value="option1" checked>
                    <label class="form-check-label" for="exampleRadios1">
                        <p class="f-18 font-weight-bold">Rush order</p>
                        <p class="f-18">We’ll set higher priority to finish asap <span class="f-14">(additional fee will
                                be added)</span></p>
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2"
                        value="option2">
                    <label class="form-check-label" for="exampleRadios2">
                        <p class="f-18 font-weight-bold">Standard order</p>
                        <p class="f-18">Our normal time frame is 4 to 6 weeks</p>
                    </label>
                </div>
            </div>
        </div>
        <!-- order summary -->
        <div class="col-4">
            <div class="order-summary background-gray2 mx-auto p-3">
                <div class="font-weight-bold f-24 text-gray d-flex justify-content-between align-items-center">
                    Order Summary
                    <span class="f-14 font-weight-light ml-auto">Edit</span>
                </div>
                <div class="row no-gutters mt-5">
                    <div class="col-2">
                        <img src="../../../../assets/images/AKNY-LOGO_complete_gold.svg" width="50px" height="50px"
                            alt="AlterKnit Logo Gold">
                    </div>
                    <div class="ml-2 col text-gray">
                        <div class="f-18 font-weight-bold">Garment #1</div>
                        <div class="f-14 font-weight-light">Brand</div>
                        <div class="f-14 font-weight-light">Color</div>
                        <ul class="f-14 font-weight-light">
                            <li>
                                Sweater repair
                            </li>
                            <li>
                                Depilling
                            </li>
                            <li>
                                Cleaning
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row no-gutters mt-5">
                    <div class="col-2">
                        <img src="../../../../assets/images/AKNY-LOGO_complete_gold.svg" width="50px" height="50px"
                            alt="AlterKnit Logo Gold">
                    </div>
                    <div class="col text-gray">
                        <div class="f-18 font-weight-bold">Garment #1</div>
                        <div class="f-14 font-weight-light">Brand</div>
                        <div class="f-14 font-weight-light">Color</div>
                        <ul class="f-14 font-weight-light">
                            <li>
                                Sweater repair
                            </li>
                            <li>
                                Depilling
                            </li>
                            <li>
                                Cleaning
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="review-submit mt-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label f-14 font-weight-light" for="defaultCheck1">
                        By checking the box, you agree to our <span class="f-14 font-weight-bold text-gold">terms and
                            conditions</span>
                    </label>
                </div>
                <button type="button" routerLink="/orders/review"
                    class="btn f-18 form-control font-weight-light background-gold btn-sm text-white btn-block mt-2 mb-5">
                    Submit
                </button>
            </div>
        </div>
    </div>
</section>