<div *ngIf="open" class="viewer-container pb-5 pt-5">
    <!-- form container -->
    <section class="form-container mx-auto">
        <div class="row no-gutters mt-5">
            <!-- what kind of service do you need -->
            <div class="col-6 text-center vertial-gold-separator">
                <p class="text-gold f-36">Garment #1</p>
                <p class="f-30">What kind of service do you need?</p>
                <p class="f-18 font-weight-light">Select all that apply, must select at least one<span
                        class="text-danger">*</span></p>
                <div class="d-flex justify-content-center align-items-center">
                    <img class="mx-4" width="79px" height="79px" src="../../../assets/images/garment-icons/shirt.svg">
                    <img class="mx-4" width="79px" height="79px" src="../../../assets/images/garment-icons/wool.svg">
                    <img class="mx-4" width="79px" height="79px"
                        src="../../../assets/images/garment-icons/washing-machince.svg">
                </div>
            </div>
            <!-- form 1-->
            <div class="col-6">
                <div>
                    <input class="ml-5" type="checkbox" id="service1" name="service1"
                        value="Reknitting of holes on your sweaters, hats, gloves, scarves, blanket, exc...">
                    <label class="ml-3" for="service1">Reknitting of holes on your sweaters, hats, gloves, scarves,
                        blanket,
                        exc...</label>
                </div>
                <div>
                    <input class="ml-5" type="checkbox" id="service2" name="service2"
                        value="Reweaving for suits, blazers, slacks, overcoat, exc....">
                    <label class="ml-3" for="service2">Reweaving for suits, blazers, slacks, overcoat,
                        exc...</label>
                </div>
                <div>
                    <input class="ml-5" type="checkbox" id="service3" name="service3" value="Reknitting of">
                    <label class="ml-3" for="service3">Reknitting of</label>
                </div>
                <div>
                    <input class="ml-5" type="checkbox" id="service4" name="service4" value="Knit Alteration">
                    <label class="ml-3" for="service4">Knit Alteration</label>
                </div>
                <div>
                    <input class="ml-5" type="checkbox" id="service5" name="service5" value="Knit Restyling">
                    <label class="ml-3" for="service5">Knit Restyling</label>
                </div>
                <div>
                    <input class="ml-5" type="checkbox" id="service6" name="service6" value="Depilling">
                    <label class="ml-3" for="service6">Depilling</label>
                </div>
                <div>
                    <input class="ml-5" type="checkbox" id="service7" name="service7" value="Cleaning">
                    <label class="ml-3" for="service7">Cleaning</label>
                </div>
                <div>
                    <input class="ml-5" type="checkbox" id="service8" name="service8" value="Custom Knit Work">
                    <label class="ml-3" for="service8">Custom Knit Work</label>
                </div>
                <div>
                    <input class="ml-5" type="checkbox" id="service9" name="service9" value="Other Fabric Repair">
                    <label class="ml-3" for="service9">Other Fabric Repair</label>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-5">
            <!-- what kind of service do you need -->
            <div class="col-6 text-center vertial-gold-separator">
                <div class="w-75 mx-auto">
                    <p class="f-30">Tell us about your Garment</p>
                    <p class="f-18 font-weight-light px-5">Let us know more about your clothes. It’ll give us more
                        insite
                        into what have to do to get it looking good as new.</p>
                </div>
            </div>
            <!-- form 2-->
            <div class="col-6">
                <div class="mx-5">
                    <div class="form-group"><input class="mb-2 w-100" placeholder="Brand*" type="text" name="brand"
                            id="brand"></div>
                    <div class="form-group"><input class="mb-2 w-100" placeholder="Color*" type="text" name="color"
                            id="color"></div>
                    <div class="form-group"><input class="mb-2 w-100" placeholder="Age of garment*" type="text"
                            name="ageOfGarment" id="ageOfGarment"></div>
                    <div class="form-group"><input class="mb-2 w-100"
                            placeholder="Number of Holes* (Don’t worry if you don’t catch all of the holes. We will thoroughly inspect your garment.)"
                            type="text" name="noOfHoles" id="noOfHoles"></div>
                    <div class="form-group"><textarea rows=5 class="mb-2 w-100" placeholder="Brief decription of what you need or anything else you’d like to tell us?*
                            " type="text" name="briefDescription" id="briefDescription"></textarea></div>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-5">
            <div class="col-12 text-center">
                <img width="50px" height="50px" src="../../../assets/images/AKNY-LOGO_complete_black.svg"
                    alt="logo-gold">
            </div>
        </div>
        <div class="row no-gutters mt-5">
            <div class="col-12 text-center">
                <p class="f-30">Has this garment been previously repaired by a dry cleaner or anyone else?<span
                        class="text-danger f-30">*</span></p>
                <p class="f-18 font-weight-light text-gold">Our craft isn’t a ordinary patch job. We pride ourselves in
                    the best restoration techniques that make holes and rips nearly invisible. Fixing a previous attempt
                    may cause a delay or additional work in trying to restore your garment.</p>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="mx-3 text-gray f-24 font-weight-light">yes</div>
                    <div class="button-separator"></div>
                    <div
                        class="mx-3 text-gray f-24 font-weight-light active-circle d-flex justify-content-center align-items-center">
                        no</div>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-5">
            <div class="col-12 text-center">
                <p class="f-30">Has this garment been recently cleaned?*<span class="text-danger f-30">*</span></p>
                <p class="f-18 font-weight-light text-gold">Cleaning will only make holes bigger and incur higher repair
                    cost. Please let us examine your garment first. If you’ve already cleaned it, don’t worry.</p>
                <div class="d-flex justify-content-center align-items-center">
                    <div class="mx-3 text-gray f-24 font-weight-light">yes</div>
                    <div class="button-separator"></div>
                    <div class="mx-3 text-gray f-24 font-weight-light">no</div>
                </div>
            </div>
        </div>
        <div class="row no-gutters mt-5 mb-5">
            <div class="col-12 text-center">
                <button type="button" class="btn f-24 font-weight-light py-2 background-gray btn-sm text-white"
                    (click)="close.emit()">Cancel</button>
                <button type="button" style="width: 15%"
                    class="btn f-24 font-weight-light py-2 background-gold btn-sm text-white ml-2"
                    (click)="submit()">Next</button>
            </div>
        </div>
    </section>
    <div class="row no-gutters w-100 fixed-top">
        <div class="col-12 text-right pr-3">
            <a class="close-viewer text-white home-title" (click)="close.emit()">X</a>
        </div>
    </div>
</div>