<div class="row no-gutters">
    <div class="col-12">
        <div class="header">
            <app-header [theme]="headerThemes.WHITE"></app-header>
        </div>
        <div class="m-5 sign-in">
            <div class="row no-gutters">
                <section class="col-md-6 col-12 m-auto text-center">
                    <p class="title f-36">New Customers</p>
                    <p class="font-weight-light f-18 text-gray">Don’t have an account? No problem, you can check out as a
                        guest and create an account later.</p>
                    <button type="button" class="btn background-gold btn-sm text-white btn-block"
                        [title]="'Orders and Shipping'" routerLink="/orders">Continue as Guest</button>
                </section>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>