.section-intro {
    /* height: 400px; */
    background-color: #E9E7D9;
}

.section-image-sewing {
    background: url(../../../assets/images/sewing-machine.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 420px;
}

.question {
    color: #B68C13;
}

.faq-background {
    background: #1D262F;
}

.logo-2 {
    position: relative;
    left: -25px;
    background: url("../../../assets/images/AKNY-LOGO_complete_gold.svg");
    background-repeat: no-repeat;
    width: 184px;
    height: 184px;
}

.faq-title {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.service {
  padding-bottom: 2em;
}
/* .price-images {
  height: 130px;
} */

@media only screen and (max-width: 768px) {
  .f-64, .f-48 {
    font-size: 36px;
  }
  .f-36 {
    font-size: 24px;
  }
  .f-24-2 {
    font-size: 18px;
  }
  .service {
    padding-bottom: 0.5em;
  }
}
