<div class="row no-gutters">
    <div class="col-12">
        <section class="section-intro">
            <app-header [theme]="headerThemes.WHITE"></app-header>
            <div class="row no-gutters">
                <div class="text-white section-intro-content text-center">
                    <p class="title f-36">Pricing and Services</p>
                    <p class="font-weight-light f-18">Our Process is straightforward - every garment and repair is
                        unique and requires an in-person exam to determine the best route back to perfect health.
                        AlterKnit is a service business, and we do not sell fixed products. All our final pricing is
                        determined through a hands-on professional assessment at our work studio.</p>
                </div>
            </div>
        </section>
        <section class="mt-5 ml-5 mb-5 mr-5">
            <div class="row">
                <div class="col">
                    <div class="font-weight-light f-36 mb-2">Services we offer</div>
                    <ul class="f-18">
                        <li class="pb-2">Garment Repair</li>
                        <li class="pb-2">Reweaving</li>
                        <li class="pb-2">Reknitting</li>
                        <li class="pb-2">Moth Hole Repair</li>
                        <li class="pb-2">Sweater Repair</li>
                        <li class="pb-2">Knits</li>
                        <li class="pb-2">Cashmeres Suits</li>
                        <li class="pb-2">Restyling</li>
                        <li class="pb-2">Cleaning</li>
                        <li class="pb-2">Knit Alteration</li>
                    </ul>
                </div>
                <div class="col section-image-sewing"></div>
            </div>
            <div class="mt-5 f-36">Factors we consider when Pricing Repairs</div>
            <div class="row mt-5 mb-5">
                <div class="col">
                    <figure class="text-center">
                        <img src="../../../assets/images/shirtIcon 1.jpg" height="125" />
                        <figcaption class="mt-1">Size and Extent of Damage</figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="text-center">
                        <img src="../../../assets/images/wool.jpg" height="125" />
                        <figcaption class="mt-1">Difficulty Harvesting Yarn or Thread</figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="text-center">
                        <img src="../../../assets/images/locationIcon 1.jpg" height="125" />
                        <figcaption class="mt-1">Location of Damage</figcaption>
                    </figure>
                </div>
                <div class="col">
                    <figure class="text-center">
                        <img src="../../../assets/images/thickness 1.jpg" height="125" />
                        <figcaption class="mt-1">Thickness of Garment</figcaption>
                    </figure>
                </div>
            </div>
            <span class="f-18 text-gray">*Price of repairs are not based on the original cost of the garment</span>
        </section>
        <section class="faq-section pt-2">
            <div class="row mt-5 ml-5 pb-5 no-gutters">
                <div class="col-5 text-white faq-title">
                    <div class="f-36">Frequently Asked Questions</div>
                    <div class="logo-2"></div>
                </div>
                <div class="col text-white">
                    <div class="question mb-2 mt-3">How long will my garment repair take?</div>
                    <div class="answer mb-2">The average turn around is 3 weeks on most repairs, excluding shipping time.</div>
                    <div class="answer mb-2">More involved and intense repairs with extreme detail, multiple items, and/or extra services may take six to eight weeks.</div>
                    <div class="answer mb-2">We offer Rush Service for an additional charge, feel free to ask!</div>

                    <div class="question mb-2 mt-4">What will a garment repair look like afterward?</div>
                    <div class="answer mb-2">We use a process called reweaving or reknitting (depending on the fabric) which produces a near-invisible repair.</div>

                    <div class="question mb-2 mt-4">Can you fix snags?</div>
                    <div class="answer mb-2">Yes! We love to fix snags.</div>

                    <div class="question mb-2 mt-4">How about a tear?I tore my suit.</div>
                    <div class="answer mb-2">Yes, we fix wovens every day.</div>

                    <div class="question mb-2 mt-4">How do you match the yarn so it looks invisible?</div>
                    <div class="answer mb-2">First we invisibly ‘harvest’ the yarn from the garment itself. We also have an extensive in-house fiber library.</div>

                    <div class="question mb-2 mt-4">Do you offer cleaning?</div>
                    <div class="answer mb-2">Yes! We want your clothes staying clean and hole-free.</div>

                    <div class="question mb-2 mt-4">Can you get stains out?</div>
                    <div class="answer mb-2">Yes we can.</div>

                    <div class="question mb-2 mt-4">I have a torn neckline — can you reattach it?</div>
                    <div class="answer mb-2">Yes, this is a very common repair.</div>

                    <div class="question mb-2 mt-4">There is a huge hole in the underarm of my sweater. Is that fixable?</div>
                    <div class="answer mb-2">Yes, it is fixable.</div>

                    <div class="question mb-2 mt-4">Do you shorten sweaters?</div>
                    <div class="answer mb-2">Yes, we shorten all body lengths including sleeves.</div>

                    <div class="question mb-2 mt-4">My sweater is stretched out on the sides, is that fixable?</div>
                    <div class="answer mb-2">Yes we can take your sweater in by the seams and also taper baggy sleeves.</div>

                    <div class="question mb-2 mt-4">I don’t like the neckline. Can you alter it?</div>
                    <div class="answer mb-2">Yes, we can restyle collars and plackets and other areas of the garment.</div>
                </div>
            </div>
        </section>
        <app-footer></app-footer>
    </div>
</div>