footer {
  background: #b68c13;
}

.footer-line {
  border-bottom: 3px solid white;
  padding-bottom: 1rem;
}

.col div {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.aknywhite {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(263deg) brightness(101%) contrast(102%);
}

.copyright {
  background: #353535;
  height: 60px;
}

input[type="email"] {
  background-color: #b68c13;
  border: 0;
  color: white;
  font-size: 18px;
  line-height: 1.75rem;
}
.home-box-link-light {
  width: 75%;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: white;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: white;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: white;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: white;
}
input[type="email"]:focus {
  outline: none !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

@keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

@-webkit-keyframes autofill {
    100% {
        background: transparent;
        color: inherit;
    }
}

#frame {
  width: 100%;
  height: 305px;
  margin-top: -55px;
}

@media only screen and (max-width: 500px) {
  .footer-row {
    flex-direction: column;
  }
  .links {
    min-width: 100%;
  }
  .f-18 {
    font-size: 14px;
  }
  .footer-line {
    border-bottom: 3px solid white;
    padding-bottom: 0.8rem;
  }

  .col div {
    padding-top: 0.75rem;
    padding-bottom: 0.7rem;
  }
}
