<footer class="text-white">
    <div class="row no-gutters">
        <div class="col-12">
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <div class="logo"></div>
                    <a class="navbar-brand text-white" href="#">
                        AlterKnit
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="input-group">
                        <input type="email" class="form-control" name="email" placeholder="Email" />
                    </div>
                    <p>Subscribe and recieve communicaion from Alterknit about our products and services.</p>
                </div>
                <div class="col-8">
                    <div class="row">
                        <div class="col-4">
                            <div class="footer-line">Quick Links</div>
                            <p>Our Work</p>
                            <p>Our Story</p>
                            <p>Our Services</p>
                            <p>Garment Tips</p>
                        </div>
                        <div class="col-4">
                            <div class="footer-line">Social Media</div>
                            <p>Instagram</p>
                            <p>Facebook</p>
                            <p>Twitter</p>
                        </div>
                        <div class="col-4">
                            <div class="footer-line">Have a Question?</div>
                            <p>FAQ</p>
                            <p>Contact Us</p>
                            <p>We are available by phone 212.473.6363 every day.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 d-flex justify-content-center align-items-center copyright">
                    © Copyright 2018 AlterKnit NY LLC.  All Rights Reserved. Terms and Conditions | Privacy Policy
                </div>
            </div>
        </div>
    </div>
</footer>