<div class="row no-gutters">
    <div class="col-12 overflow-hidden">
        <section class="section-intro">
            <app-header [theme]="headerThemes.WHITE"></app-header>
            <div class="row no-gutters">
                <div class="text-white m-auto w-75 text-center pb-5">
                    <p class="title f-36">Why Pick AlterKnit?</p>
                    <p class="font-weight-light f-18">We pride oursleves in the best quality work. With over 30 years
                        experience in reknitting and reweaving, we provide the best fix for knits and wovens. Fiber is
                        taken from the original garment so the repair blends naturally.</p>
                </div>
            </div>
        </section>
        <section class="mt-xl-5 ml-xl-5 mb-xl-5 mx-0 my-4">
            <div class="row">
                <div class="col-xl col-12">
                    <div class="f-36 mb-2 px-xl-0 px-4 text-xl-left text-center">Sweater Repair</div>
                    <div class="font-weight-light f-18 content px-xl-0 px-4">Through a process known as REKNITTING, our
                        repair team
                        uses yarn from the original garment to REKNIT the damaged area matching the pattern and style.
                        The work is done by hand and most times under a magnifying glass to make sure that it's done
                        just right.</div>
                </div>
                <div class="col-xl-7 col-12 mt-xl-0 mt-4">
                    <div class="sweater-repair-image"></div>
                </div>
            </div>
        </section>
        <section class="mr-xl-5 mb-xl-5 mx-0 my-4">
            <div class="row">
                <div class="col-xl-7 col-12 d-xl-block d-none">
                    <div class="suit-repair-image"></div>
                </div>
                <div class="col-xl col-12">
                    <div class="f-36 mb-2 text-xl-left text-center">Suit Repair</div>
                    <div class="font-weight-light f-18 content mb-xl-5 mb-3 px-xl-0 px-4">For small damage on suits our
                        repair team uses a
                        method
                        known as FRENCH REWEAVING, where the damaged area is rewoven. For larger damage on suits, a
                        piece of
                        fabric is taken from an unnoticeable area of the garment and is inlaid, matching the pattern of
                        the
                        garment exactly. In some cases, a faint outline might show.
                    </div>

                    <div class="f-36 mb-2 text-xl-left text-center px-xl-0 px-2">General Garment Repair</div>
                    <div class="font-weight-light f-18 content mb-xl-5 mb-3 px-xl-0 px-4">Even if the garment isn't a
                        knit or woven we
                        specialize in
                        finding solutions for your damaged garments. Give us a call or send a picture. We'll see if
                        there is
                        anything that we can do to salvage it.
                    </div>

                    <div class="f-36 mb-2 text-xl-left text-center">Knit Restyling</div>
                    <div class="font-weight-light f-18 content px-xl-0 px-4">Have an ill-fitting knit? Sleeves too long?
                        Love
                        the
                        sweater but hate the turtleneck? Kept your New Years' resolution and lost 25 lbs? We can alter
                        sleeves, remove a turtleneck, shorten etc. It'll look like you bought it that way.
                    </div>
                </div>
                <div class="col-xl-7 col-12 d-xl-none d-block mt-3">
                    <div class="suit-repair-image mt-xl-0 mt-4"></div>
                </div>
            </div>
        </section>
        <section class="mt-xl-5 ml-xl-5 mb-xl-5 mx-0 my-4">
            <div class="row">
                <div class="col-xl col-12">
                    <div class="f-36 mb-2 text-xl-left text-center">De-pill</div>
                    <div class="font-weight-light f-18 content px-xl-0 px-4 text-xl-left text-center">Does your favorite sweater seem unwearable
                        due to accumulated pilling? Send us your sweater and our professionals will take care of all
                        that fuzz.
                    </div>
                </div>
                <div class="col-xl-7 col-12">
                    <div class="de-pill-image mt-xl-0 mt-4"></div>
                </div>
            </div>
        </section>
        <section class="m-xl-5 px-xl-0 px-4">
            <p class="font-weight-light">
                With over three decades of experience, our team of repair experts carefully matches the pattern and
                style of your garment and revives the damaged area – often with astonishing, like-new results. In fact,
                we're so meticulous, each item is restored.
            </p>
            <p class="font-weight-light">
                Manually with handiwork done under a magnifying glass to ensure the superior results we're renowned for.
                In addition to our custom knitting, reweaving, darning and suit repair services, we proudly offer
                specialties such as mothproofing, repairing fabric burns, and mending garments that have been affected
                by insect damage.
            </p>
        </section>
        <div class="m-xl-5 m-0 content-image"></div>
        <app-footer></app-footer>
    </div>
</div>
