<div class="container-fluid px-0">
  <div class="row no-gutters">
    <div class="col">
      <section class="hero-image hero-image-spacer">
        <app-header [theme]="headerThemes.WHITE"></app-header>
        <div class="row no-gutters">
          <div class="col-xl-5 col-12 text-white mt-5 ml-xl-5 text-xl-left text-center px-xl-0 px-2">
            <p class="home-title text-bold f-64 my-5">Holes? We Fix them.</p>
            <p class="mt-5 home-text font-weight-light f-18">Invisible Garment Repair • Reweaving • Reknitting • Moth
              Hole Repair
              •
              Sweaters • Knits • Cashmere Suits • Restyling • Cleaning • Knit Alteration</p>
            <div
              class="mt-5 home-box-link-light py-2 px-3 d-inline-flex align-items-center justify-content-xl-between justify-content-center">
              <p class="m-0 mr-3 text-center"><a class="text-bold f-24" [title]="'Sign In'"
                  routerLink="/sign-in">Schedule your
                  repair with
                  us today</a></p>
              <!-- <a class="text-bold f-24 d-none" [title]="'Sign In'" routerLink="/sign-in">
                <img class="d-sm-block d-none" width="17px" src="../../../assets/images/rarrow-white.png">
                </a> -->
            </div>
          </div>
        </div>
      </section>
      <div class="row no-gutters mt-5">
        <div class="col-xl-4 col-12 d-flex justify-content-xl-between align-items-xl-center flex-xl-row flex-column">
          <div class="ml-3 mr-3 ml-md-5 mr-md-5">
            <div class="d-flex flex-column align-items-xl-start align-items-center">
              <div class="text-xl-left">
                <p class="home-title f-36 text-gray text-bold">Dedicated to our craft</p>
                <p class="home-text font-weight-light text-gray f-18">We have over 50 years of experience in reknitting
                  and
                  reweaving garments.</p>
                <p class="home-text font-weight-light text-gray f-18">With equal care
                  and attention to detail, we will communicate with you to determine the best steps in
                  restoring your garment back to life.</p>
              </div>
              <div class="home-box-link-dark py-2 px-3 d-flex justify-content-between align-items-center">
                <a [title]="'our-work'" routerLink="/our-work">
                  <p class="m-0 text-gray f-18 text-bold">See our work</p>
                </a>
                <!-- <a class="d-none" [title]="'our-work'" routerLink="/our-work">
                  <img width="17px" src="../../../assets/images/rarrow-black.svg">
                </a> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-12 text-right d-flex justify-content-center">
          <img class="mt-4 mt-xl-0 img-fluid" src="../../../assets/images/home-before-after-2.png">
        </div>
      </div>

      <div class="row no-gutters mt-5">
        <div class="col-xl-8 col-12 d-xl-block d-none">
          <div class="d-flex justify-content-center">
            <img class="img-fluid" src="../../../assets/images/repair-dont-repair.png">
          </div>
        </div>
        <div
          class="col-xl-4 col-12 d-flex justify-content-xl-between align-items-xl-center flex-xl-row flex-column-reverse">
          <div class="ml-3 mr-3 ml-md-5 mr-md-5 text-xl-left">
            <p class="home-title text-gray text-bold f-36">Repair. Don't Replace</p>
            <p class="home-text font-weight-light text-gray f-18">Did you know that the apparel industry accounts for
              6.7% of
              the world's greenhouse gas emissions?<br>
              When you choose to repair with Alterknit, you automatically join the fashion revolution and its
              comittment to transparent and low carbon footprint.</p>
          </div>
        </div>
        <div class="col-xl-9 col-12 d-xl-none d-block mt-xl-0 mt-3">
          <img class="img-fluid" src="../../../assets/images/repair-dont-repair.png">
        </div>
      </div>

      <section class="sweater-bg mt-md-5 m-0">
        <div class="row no-gutters m-md-5 pt-5 text-white">
          <div class="col-md-3 col-1"></div>
          <div class="col-md-6 col-10 mt-4 mt-xl-0 text-center">
            <div class="f-36 text-bold">What Our Customers Say</div>
            <div class="f-24 text-white my-5">
              <p class="pb-2">“When my tailor said they couldn't alter my sweater I found AlterKnit. They said they
                could
                fit it perfectly... and they did! They were very professional and knowledgeable.”</p>
              <p class="text-gold">Emily- Boulder, Colorado</p>
            </div>
            <div class="f-24 text-white my-5">
              <p class="pb-2">“My dog tore a huge hole in the chuky cable knit that I love. AlterKnit did a magnificient
                job repairing it. Impeccable work.”</p>
              <p class="text-gold">Sarah- Montclair, New Jersey</p>
            </div>
            <div class="f-24 text-white my-5">
              <p class="pb-2">“I got a hole in the Hugo Boss tuxedoI got married in. I shipped it in to AlterKnit, they
                made me and my wife so happy. Thank you!”</p>
              <p class="text-gold">James- San Francisco, California</p>
            </div>
            <div class="f-24 text-white my-5">
              <p class="pb-2">“I send my sweaters to AlterKnit every year for cleaning and depilling, like a sweater spa
                retreat! Hands down the best investment I've made for my cashmere collection.”</p>
              <p class="text-gold">Christina- Columbus, Ohio</p>
            </div>
            <div class="f-24 text-white my-5">
              <p class="pb-2">“You are amazing! I received my missoni items the other day and what you did is 1000x times beyond my expectations. Thank you so much!”</p>
              <p class="text-gold">Paul- NY, New York</p>
            </div>
          </div>
          <div class="col-md-3 col-1"></div>
        </div>
      </section>

      <div class="flow mt-5 mb-5">
        <div class="row no-gutters">
          <div class="col-12">
            <p class="f-36 home-title text-gray text-bold text-center">The AlterKnit Process</p>
          </div>
        </div>
        <div class="row no-gutters">
          <div class="col-md-3 col-1"></div>
          <div class="col-md-6 col-10 ">
            <div class="d-inline-flex justify-content-center align-items-center p-4 flex-xl-row flex-column">
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="mb-2" width="129px" height="129px" src="../../../assets/images/process-icon-1.svg">
                <div class="text-center home-text text-bold text-gray">1. What's the Fix</div>
                <p class="text-center text-gray">We work with you to determine the scope of service you need</p>
              </div>
              <div class="margin-spacer d-xl-block d-none">
                <img width="163px" src="../../../assets/images/process-line.svg">
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="mb-2" width="129px" height="129px" src="../../../assets/images/process-icon-2.svg">
                <div class="text-center home-text text-bold text-gray">2. We Repair it</div>
                <p class="text-center text-gray">Our unmatched team works diligently to repair and restore your
                  items</p>
              </div>
              <div class="margin-spacer d-xl-block d-none">
                <img width="163px" src="../../../assets/images/process-line.svg">
              </div>
              <div class="d-flex flex-column justify-content-center align-items-center">
                <img class="mb-2" width="129px" height="129px" src="../../../assets/images/process-icon-3.svg">
                <div class="text-center home-text text-bold text-gray">3. You get it back</div>
                <p class="text-center text-gray">We ship you order back to you fixed and ready to enjoy again
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-1"></div>
        </div>
      </div>
      <app-footer></app-footer>
    </div>
  </div>
</div>
