.hero-image-spacer {
  background-position: center center;
}

.hero-image {
  background: url(../../../assets/images/home-bg.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

@media only screen and (max-width: 420px) {
  .hero-image-spacer {
    background-position: 95% center;
  }
}

.home-card {
  margin-left: 3rem;
  margin-top: 10rem;
}

.sweater-bg {
  background: linear-gradient(
      0deg,
      rgba(81, 64, 95, 0.1),
      rgba(81, 64, 95, 0.1)
    ),
    url(../../../assets/images/sweater-logo-bg.png) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* height: 100vh; */
  position: relative;
}

/* .feedback {
  font-size: 0.6rem;
  font-weight: 400;
  margin-bottom: 10%;
} */

.margin-spacer {
  margin-bottom: 6.5rem;
}
