<section>
  <!-- steps -->
  <app-stepper [activeStep]="step"></app-stepper>
  <!-- select shipment method -->
  <div class="row no-gutters mt-5">
    <div class="col-12">
      <div class="w-100 container p-0">
        <p class="f-36 text-bold">How would you like to submit your order to us?</p>
        <p class="font-weight-light f-18">Select a method to sending us your garment</p>
      </div>
      <form>
        <p>
          <label for="ship" class="w-100 d-flex container">
            <input class="mt-2" type="radio" [value]="orderMethods.Ship" [(ngModel)]="orderMethod" id="ship"
              name="radio-group">
            <span class="checkmark"></span>
            <div class="pl-3">
              <p class="f-18 text-bold">Ship it</p>
              <p class="f-14 font-weight-light">You will get a pre-addressed/pre-paid FedEx shipping label
                and
                a copy of this order emailed
                to you. Please include the order document with your item.</p>
              <p class="f-14 font-weight-light">In the event that we are unable to fix your garment(s) or
                you
                decline service we will send
                your garments(s) back to you. You are responsible for all in-bound and out-bound
                shipping
                costs.</p>
            </div>
          </label>
        </p>
        <p>
          <label for="pickup" class="w-100 d-flex container">
            <input class="mt-2" type="radio" [value]="orderMethods.Pickup" [(ngModel)]="orderMethod" id="pickup"
              name="radio-group">
            <span class="checkmark"></span>
            <div class="pl-3">
              <p class="f-18 text-bold">NYC Complimentary Pick up</p>
              <p class="f-14 font-weight-light">Delivery is complimentary from 24 hr residential doorman
                buildings in Manhattan when you USE
                our service. In the event that we are unable to fix your garment(s) or you decline
                service
                delivery fees will be applied. We pick up within 48 hours from the time you indicated.
              </p>
              <p class="f-14 font-weight-light">Please let your doorman know.</p>
            </div>
          </label>
        </p>
        <!-- <p>
          <label for="test3" class="w-100 d-flex container">
            <input class="mt-2" type="radio" [value]="orderMethods.Dropoff" [(ngModel)]="orderMethod" id="dropoff"
              name="radio-group">
            <span class="checkmark"></span>
            <div class="pl-3">
              <p class="f-18 text-bold"> <span class="text-gray2">NYC Local Drop-off</span>&nbsp;
                <span class="text-underline text-gray">(temporarily closed)</span>
              </p>
            </div>
          </label>
        </p> -->
      </form>
      <div class="w-100 container p-0">
        <button type="button" (click)=submit()
          class="btn background-gold btn-sm f-18 text-white font-weight-light px-5">Next</button>
      </div>
    </div>
  </div>
</section>
