<div class="row no-gutters">
  <div class="col-12">
    <div class="d-none d-lg-block">
      <ul class="nav d-flex justify-content-evenly align-items-center stepper mx-auto">
        <li class="nav-item cursor-pointer" *ngFor="let step of formSteps; let idx = index;"
          (click)="navigateToStep(idx)">
          <div class="m-auto" [ngClass]="activeStep === step ? 'active-circle' : 'inactive-circle'">
            {{idx + 1}}
          </div>
          <p class="home-text font-weight-light f-18 pt-2 text-gray">{{step}}</p>
        </li>
      </ul>
    </div>
    <div class="d-block d-lg-none">
      <ul class="nav d-flex justify-content-center align-items-center stepper mx-auto">
        <li class="nav-item cursor-pointer" *ngFor="let step of formSteps; let idx = index;"
          (click)="navigateToStep(idx)">
          <div class="m-auto" [ngClass]="activeStep === step ? 'active-circle' : 'd-none'">
            {{idx + 1}}
          </div>
          <p class="home-text font-weight-light f-18 pt-2 text-gray" [ngClass]="activeStep === step ? 'd-block' : 'd-none'">{{step}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
