<div class="row no-gutters">
    <div class="col-12">
        <ul class="nav d-flex justify-content-between align-items-center stepper mx-auto">
            <li class="nav-item cursor-pointer" *ngFor="let step of formSteps; let idx = index;" (click)="navigateToStep(idx)">
                <div class="m-auto" [ngClass]="activeStep === step ? 'active-circle' : 'inactive-circle'">
                    {{idx + 1}}
                </div>
                <p class="home-text font-weight-light f-18 pt-2">{{step}}</p>
            </li>
        </ul>
    </div>
</div>