<div class="row no-gutters">
  <div class="col-12">
    <section class="section-bg">
      <app-header [theme]="headerThemes.BLACK"></app-header>
      <div class="row no-gutters p-5">
        <div class="col-12">
          <p class="f-64 text-gray text-bold text-lg-left text-center">Our Work</p>
        </div>
        <div class="col-4 d-inline-flex align-items-center justify-content-md-start justify-content-center">
          <p class="text-gray f-24 pt-2 d-lg-block d-none">
            See what we have done for others, and know what we can do for you.
          </p>
          <!-- <p class="text-gray f-24 pt-2 d-block d-lg-none">
            We let our work speak for itself. Take a look at some of our past works.
          </p> -->
        </div>
      </div>
    </section>
    <!-- sweater collection -->
    <section class="sweater-collection">
      <div class="row no-gutters w-100">
        <div class="col-12">
          <p class="text-gray f-24 pt-2 d-lg-none d-block text-center">
            See what we have done for others, and know what we can do for you.
          </p>
        </div>
        <div class="col-12 sweater-images">
          <div *ngFor="let sweater of sweaters;" class="sweater-panel m-1 sweater">
            <img width="100%" src="{{sweater.imagePath}}">
            <div class="magnifier" (click)="showViewer(sweater)"></div>
          </div>
          <app-image-viewer *ngIf="viewerOpen" [items]="sweaters" [item]="selectedSweater" [open]="viewerOpen"
            (close)="viewerOpen = false">
          </app-image-viewer>
        </div>
      </div>
    </section>
    <div class="row no-gutters mt-5">
      <div class="col-12 text-center px-xl-0 px-3">
        <p class="home-title f-36 text-gray">Haven't I seen AlterKnit in an article somewhere?</p>
        <p class="home-text font-weight-light f-18 text-gray">You probably have! Our work has been featured in print and
          on the web in
          places
          like Real Simple and Harper's Bazaar</p>
        <div class="mt-5 mb-5 d-flex justify-content-center align-items-center flex-xl-row flex-column">
          <img class="mx-xl-3 mx-0 my-xl-0 my-3" src="../../../assets/images/articles/bazaar.svg">
          <img class="mx-xl-3 mx-0 my-xl-0 my-3" src="../../../assets/images/articles/laundress.svg">
          <img class="mx-xl-3 mx-0 my-xl-0 my-3" src="../../../assets/images/articles/nypost.svg">
          <img class="mx-xl-3 mx-0 my-xl-0 my-3" src="../../../assets/images/articles/realsimple.svg">
        </div>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>
